idna
igraph
numpy                    
numpy-base
pandas
pytorch                  
pytorch-mutex
scikit-learn             
scipy
tabulate                 
tensorboard              
tensorboard-data-server  
tensorboard-plugin-wit
tokenizers               
torch-cluster            
torch-geometric          
torch-scatter            
torch-sparse             
torch-spline-conv        
torchaudio               
torchvision              
tqdm
